<!doctype html>
<html ng-app="dnd">
    <head>
        <title>ARCHENTIDES</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <meta name="viewport" content="initial-scale=0.3, width=device-width" />
        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Uncial+Antiqua:400' />
        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' />
        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400' />
        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Averia+Serif+Libre:100,400,300,700'>
        <link href='https://fonts.googleapis.com/css?family=Kalam:400,300,700' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' type='text/css' href='site.css'>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="archentides-data.js"></script>

        <script>
            var app = angular.module('dnd', []);

            app.controller('Main', function ($scope, $sce, $timeout) {
                $scope.data = archentidesData;
                $scope.curSessionIndex = 0;
                $scope.curSession = $scope.data.sessions[$scope.curSessionIndex];
                $scope.steps = $.merge([], $scope.curSession.steps);

                for (var i = 0; i < $scope.steps.length; i++) {
                    $scope.steps[i].index = i;
                }

                $scope.curStep = 0;
                setStep(true);

                $scope.prevStep = function () {
                    $scope.curStep = ($scope.curStep + $scope.curSession.steps.length - 1) % $scope.curSession.steps.length;
                    setStep();
                };
                $scope.nextStep = function () {
                    $scope.curStep = ($scope.curStep + 1) % $scope.curSession.steps.length;
                    setStep();
                };

                function setStep (initial) {
                    var index = 0;

                    // find current step, move to end of array
                    for (var i = 0; i < $scope.steps.length; i++) {
                        $scope.steps[i].preshow = false;
                        $scope.steps[i].show = false;

                        if ($scope.steps[i].index === $scope.curStep) {
                            index = i;
                        }
                    }

                    var step = $scope.steps[index];
                    step.preshow = !initial;
                    $scope.steps.splice(index, 1);
                    $scope.steps.push(step);

                    $timeout(function () {
                        step.preshow = false;
                        step.show = true;
                    });

                    console.log($scope.steps);
                }

                $('html').bind('mousewheel DOMMouseScroll', function (ev) {
                    if (ev.originalEvent.wheelDelta > 0 || ev.originalEvent.detail < 0) {
                        $scope.prevStep();
                    } else {
                        $scope.nextStep();
                    }

                    $scope.$apply();
                });
            });
        </script>
    </head>

    <body ng-controller="Main">
        <div class="header"></div>

        <div class="header2">
            <div class="buttons">
                <div class="button" ng-click="prevStep()">&lt;&lt;</div>
                <div class="button" ng-click="nextStep()">&gt;&gt;</div>
            </div>
        </div>

        <div class="wall"></div>

        <div class="bg" ng-class="{preshow:step.preshow,show:step.show}" ng-style="{background: step.bg}" ng-repeat="step in steps">
            <img ng-src="images/Map_{{step.image}}.png" src="" alt="" />
        </div>

        <div class="tile" ng-class="{show:step.show||step.preshow}" ng-repeat="step in steps" ng-click="nextStep()">
            <div class="content">
                <div class="title">{{curSession.title}}</div>
                <div class="subtitle">{{curSession.subtitle}}</div>
                <div class="copy-title">{{step.copyTitle}}</div>
                <div class="copy">{{step.copy}}</div>
                <div class="buttons"></div>
            </div>
        </div>
    </body>
</html>