<!doctype html>
<html ng-app="dnd">
    <head>
        <title>ARCHENTIDES</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <meta name="viewport" content="initial-scale=0.3, width=device-width" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="site.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="archentides-data.js"></script>
        <script type="text/javascript" src="archentides.js"></script>
    </head>

    <body ng-controller="Main">
        <div class="page-bg">
            <img ng-src="images/{{page.name.toLowerCase()}}.jpg" alt="" />
        </div>

        <div class="header" ng-if="pageLevel!==0">
            <div class="logo" ng-click="setPage(homePage,0)">
                <div class="vhelper"></div>
                <img class="normal" src="images/ArchentidesSmall.png" alt=""/>
                <img class="hover" src="images/ArchentidesSmallHover.png" alt=""/>
            </div>

            <div class="nav x">
                <div class="button" ng-class="{current:page===pg}" ng-click="setPage(pg,1)" ng-repeat="pg in data.pages">{{pg.name}}</div>
            </div>

            <div class="arrows">
                <div class="arrow" ng-click="prevStep()">
                    <div class="vhelper"></div>
                    <img class="normal" src="images/ArrowLeft.png" alt=""/>
                    <img class="hover" src="images/ArrowLeftHover.png" alt=""/>
                </div>
                <div class="arrow" ng-click="nextStep()">
                    <div class="vhelper"></div>
                    <img class="normal" src="images/ArrowRight.png" alt=""/>
                    <img class="hover" src="images/ArrowRightHover.png" alt=""/>
                </div>
            </div>
        </div>

        <div class="home" ng-if="pageLevel===0">
<!--            <div class="page-bg">
                <img src="images/Map_HomeBG.png" alt="" />
            </div>-->

            <div class="center">
                <img class="arch" src="images/archentidesTitleDescriptor.svg" alt="" />

                <div class="nav">
                    <div class="button" ng-click="setPage(page,1)" ng-repeat="page in data.pages">{{page.name}}</div>
                </div>

                <div class="tile">
                    <div class="content">
                        <div class="title">Last Game</div>
                        <div class="subtitle">Caverns & Carnage</div>
                        <div class="copy-title"></div>
                        <div class="copy">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</div>
                        <div class="button-row">
                            <div class="more" ng-click="setPage(page,2)">More</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="index" ng-if="pageLevel===1">
            <div class="index-header">
                <div class="name">{{page.name}}</div>

                <div class="specials">
                    <div class="special" ng-repeat="sp in page.specials">
                        <span class="icon fa fa-{{sp.icon}}"></span>
                        <span class="text">{{sp.text}}</span>
                    </div>
                </div>
            </div>

            <div class="tiles">
                <div class="tile" ng-repeat="tile in page.tiles" ng-click="setPage(tile,2)">
                    <img class="bg" ng-src="{{getImage($index, tile)}}" alt="" />
                    <div class="mask"></div>
                    <div class="content">
                        <div class="name">{{tile.title}}</div>
                        <div class="date">{{tile.subtitle}}</div>
                        <div class="char-desc">{{tile.description}}</div>
                    </div>

                    <div class="more">More</div>
                </div>
            </div>
        </div>

        <div class="details" ng-if="pageLevel===2">
            <div class="page-bg" ng-class="{preshow:step.preshow,show:step.show}" ng-style="{background: step.bg}" ng-repeat="step in bgSteps">
                <img ng-src="{{step.imageUrl}}" src="" alt="" />
            </div>

            <div class="tile2" ng-class="{show:step.show||step.preshow}" ng-repeat="step in steps" ng-click="activateOverlay(true)">
                <div class="content">
                    <div class="title">Game 1</div>
                    <div class="subtitle">{{page.title}}</div>
                    <div class="copy-title">{{step.copyTitle}}</div>
                    <div class="copy" ng-bind-html="step.copyHtml"></div>
                    <div class="button-row" ng-click="eatClick($event)">
                        <div class="left" ng-class="{inactive:$first}" ng-click="!$first&&prevStep()">Back</div>
                        <div class="right" ng-click="nextStep()">Next</div>
                        {{$index+1}} of {{steps.length}}
                    </div>
                </div>
                <div class="end" ng-show="$last">End Game 1</div>
            </div>

            <div class="curtain" ng-show="showOverlay" ng-click="activateOverlay(false)"></div>

            <div class="overlay-wrapper" ng-class="{show:showOverlay}" ng-click="activateOverlay(false)">
                <div class="overlay" ng-class="{slide:slideOverlay}">
                    <div class="title">Golden Tablet</div>
                    <div class="copy">A plate of gold alloy roughly six inches wide by eight inches tall and 1/3” thick. It weighs about ten pounds. One side is etched with a demonic scene (below) with a decorated keyhole offset from center. There is no actual hole where the keyhole looks to be. The reverse side of the plate is flat and plain with no markings.</div>
                    <div class="group">
                        <img class="right" src="images/Diamond.jpg" alt="" />
                        <div class="copy">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                            <a href="#">nibh</a>
                            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                    </div>
                    <div class="group">
                        <img class="right" src="images/Diamond.jpg" alt="" />
                        <div class="copy">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                            <a href="#">nibh </a>
                            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                    </div>
                    <img class="left" src="images/Diamond.jpg" alt="" />
                    <div class="copy">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                </div>
            </div>
        </div>
    </body>
</html>