.nosel {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-family: 'Open Sans', Arial;
  overflow-x: hidden;
}
.vhelper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.siteButton {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-family: 'Open Sans';
  background-color: #0088cc;
  color: white;
  border-radius: 4px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.siteButton:hover {
  background-color: #006699;
}
.siteButton.inactive {
  background-color: rgba(0, 136, 204, 0.3);
  cursor: default;
}
.home .center {
  position: relative;
  z-index: 10;
  margin: 70px auto 0;
  width: 820px;
  text-align: center;
  font-size: 0;
}
.home .center .arch {
  width: 802px;
}
.home .nav {
  margin-top: 50px;
  margin-bottom: 70px;
  display: inline-block;
  text-align: center;
}
.home .nav .button {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-family: 'Open Sans';
  background-color: #0088cc;
  color: white;
  border-radius: 4px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  float: left;
  width: 93px;
  margin-right: 10px;
  background-color: #83b1b2;
}
.home .nav .button:last-child {
  margin-right: 0;
}
.home .nav .button.x:hover {
  background-color: #649d9e;
}
.home .nav .button:hover {
  background-color: #006699;
}
.home .nav .button.inactive {
  background-color: rgba(0, 136, 204, 0.3);
  cursor: default;
}
.home .button-row {
  height: 34px;
  text-align: center;
  margin-top: 27px;
  line-height: 34px;
  color: #666;
  font-weight: 600;
}
.home .button-row .more {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-family: 'Open Sans';
  background-color: #0088cc;
  color: white;
  border-radius: 4px;
  line-height: 34px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 93px;
}
.home .button-row .more:hover {
  background-color: #006699;
}
.home .button-row .more.inactive {
  background-color: rgba(0, 136, 204, 0.3);
  cursor: default;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  padding: 0 100px;
  z-index: 10;
  background-color: #a3a3a3;
  font-size: 0;
}
.header .logo {
  padding-right: 10px;
  float: left;
  height: 100%;
  cursor: pointer;
}
.header .logo:hover img.normal {
  display: none;
}
.header .logo:hover img.hover {
  display: initial;
}
.header .logo img {
  vertical-align: middle;
}
.header .logo img.hover {
  display: none;
}
.header .nav {
  margin-left: 40px;
  float: left;
  margin-top: 20px;
}
.header .nav .button {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-family: 'Open Sans';
  background-color: #0088cc;
  color: white;
  border-radius: 4px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  float: left;
  width: 93px;
  margin-right: 10px;
  background-color: #959595;
}
.header .nav .button:hover {
  background-color: #006699;
}
.header .nav .button.inactive {
  background-color: rgba(0, 136, 204, 0.3);
  cursor: default;
}
.header .nav .button:hover {
  background-color: #666;
}
.header .nav .button.current {
  color: black;
  background-color: white;
}
.header .arrows {
  float: right;
  height: 100%;
}
.header .arrows .arrow {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  padding: 0 10px;
  text-align: center;
  cursor: pointer;
}
.header .arrows .arrow:hover img.normal {
  display: none;
}
.header .arrows .arrow:hover img.hover {
  display: initial;
}
.header .arrows .arrow img {
  vertical-align: middle;
}
.header .arrows .arrow img.hover {
  display: none;
}
.page-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  overflow: hidden;
}
.page-bg.preshow {
  opacity: 0;
}
.page-bg.show {
  opacity: 1.0;
  transition: opacity 0.5s ease-out;
}
.page-bg img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.index {
  margin-top: 75px;
  overflow: auto;
}
.index .index-header {
  position: relative;
  z-index: 1;
  margin: 65px 100px 70px 120px;
}
.index .index-header .name {
  font-size: 30px;
  font-weight: 600;
  color: black;
  margin-bottom: 55px;
}
.index .index-header .specials {
  overflow: auto;
}
.index .index-header .specials .special {
  color: #0288cf;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  margin-bottom: 10px;
}
.index .index-header .specials .special .icon {
  font-size: 18px;
}
.index .index-header .specials .special .text {
  font-size: 18px;
  margin-left: 5px;
}
.index .tiles {
  position: relative;
  z-index: 1;
  margin: 0 80px 0 100px;
  overflow: auto;
}
.tile {
  position: relative;
  width: 415px;
  border-radius: 4px;
  margin: 0 20px 40px 0;
  background-color: white;
  overflow: hidden;
}
.home .tile {
  margin: 0 auto 40px;
  width: 560px;
  overflow: auto;
}
.home .tile .content {
  margin: 20px;
}
.home .tile .content .subtitle {
  font-size: 20px;
  color: black;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 600;
}
.home .tile .content .copy {
  text-align: left;
}
.index .tile {
  height: 415px;
  float: left;
  cursor: pointer;
}
.index .tile .mask {
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff 60%);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.index .tile .more {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-family: 'Open Sans';
  background-color: #0088cc;
  color: white;
  border-radius: 4px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 93px;
  display: none;
}
.index .tile .more:hover {
  background-color: #006699;
}
.index .tile .more.inactive {
  background-color: rgba(0, 136, 204, 0.3);
  cursor: default;
}
.index .tile:hover .mask,
.index .tile:hover .char-desc {
  display: none;
}
.index .tile:hover .more {
  display: block;
}
.tile .bg {
  position: absolute;
  top: 0;
  left: 0;
}
.tile .content {
  margin: 20px;
  position: relative;
  z-index: 10;
}
.tile .content .name {
  color: white;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 4px;
}
.tile .content .date {
  color: white;
  font-size: 20px;
}
.tile .content .race-class {
  color: white;
  font-size: 20px;
}
.tile .content .char-desc {
  position: absolute;
  top: 210px;
  left: 0;
  width: 100%;
  color: #888;
  font-size: 19px;
  line-height: 26px;
}
.tile .content .title {
  color: #666;
  text-align: center;
  font-size: 16px;
  margin-bottom: 4px;
}
.tile .content .subtitle {
  color: #666;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 16px;
}
.tile .content .copy-title {
  margin-top: 20px;
  color: black;
  font-weight: 600;
  font-size: 20px;
}
.tile .content .copy {
  margin-top: 2px;
  line-height: 27px;
  color: #666;
  font-size: 20px;
}
.tile .content .copy a {
  color: #666;
}
.tile .content .button-row {
  height: 34px;
  text-align: center;
  margin-top: 27px;
  line-height: 34px;
  color: #666;
  font-weight: 600;
}
.tile .content .button-row .left,
.tile .content .button-row .right {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-family: 'Open Sans';
  background-color: #0088cc;
  color: white;
  border-radius: 4px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.tile .content .button-row .left:hover,
.tile .content .button-row .right:hover {
  background-color: #006699;
}
.tile .content .button-row .left.inactive,
.tile .content .button-row .right.inactive {
  background-color: rgba(0, 136, 204, 0.3);
  cursor: default;
}
.tile .content .button-row .left {
  float: left;
  height: 100%;
  width: 93px;
}
.tile .content .button-row .right {
  float: right;
  height: 100%;
  width: 93px;
}
.tile2 {
  width: 415px;
  margin: 0 20px 40px 0;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  left: 75%;
  top: 12%;
  transform: translateX(-50%);
  display: none;
}
.tile2.show {
  display: block;
}
.tile2 .content {
  margin: 20px;
  position: relative;
  z-index: 10;
}
.tile2 .content .title {
  color: #666;
  text-align: center;
  font-size: 16px;
  margin-bottom: 4px;
}
.tile2 .content .subtitle {
  color: #666;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 16px;
}
.tile2 .content .copy-title {
  margin-top: 20px;
  color: black;
  font-weight: 600;
  font-size: 20px;
}
.tile2 .content .copy {
  margin-top: 2px;
  line-height: 27px;
  color: #666;
  font-size: 20px;
}
.tile2 .content .copy a {
  color: #666;
}
.tile2 .content .button-row {
  height: 34px;
  text-align: center;
  margin-top: 27px;
  line-height: 34px;
  color: #666;
  font-weight: 600;
}
.tile2 .content .button-row .left,
.tile2 .content .button-row .right {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-family: 'Open Sans';
  background-color: #0088cc;
  color: white;
  border-radius: 4px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.tile2 .content .button-row .left:hover,
.tile2 .content .button-row .right:hover {
  background-color: #006699;
}
.tile2 .content .button-row .left.inactive,
.tile2 .content .button-row .right.inactive {
  background-color: rgba(0, 136, 204, 0.3);
  cursor: default;
}
.tile2 .content .button-row .left {
  float: left;
  height: 100%;
  width: 93px;
}
.tile2 .content .button-row .right {
  float: right;
  height: 100%;
  width: 93px;
}
.tile2 .end {
  background-color: #ff6160;
  color: white;
  text-align: center;
  padding: 8px 0;
}
.curtain {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.85;
  z-index: 20;
}
.overlay-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px;
  overflow-y: scroll;
  padding: 20px 0;
  z-index: 30;
  display: none;
}
.overlay-wrapper.show {
  display: initial;
}
.overlay-wrapper .overlay {
  margin: 100% auto 0;
  transition: margin-top 0.4s ease;
  width: 820px;
  padding: 70px;
  box-sizing: border-box;
  background-color: #d6d6ce;
  color: black;
  font-size: 20px;
  line-height: 27px;
}
.overlay-wrapper .overlay.slide {
  margin-top: 0;
}
.overlay-wrapper .overlay .title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 27px;
}
.overlay-wrapper .overlay .copy {
  margin-bottom: 27px;
}
.overlay-wrapper .overlay .group {
  overflow: auto;
}
.overlay-wrapper .overlay img.right {
  float: right;
  width: 50%;
  margin: 0 0 27px 27px;
}
.overlay-wrapper .overlay img.left {
  float: left;
  width: 30%;
  margin: 0 27px 27px 0;
}
.overlay-wrapper .overlay .image {
  font-size: 0;
}
.overlay-wrapper .overlay .image img {
  text-align: center;
}
/*.button {
    display: inline-block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    color: black;
    text-align: center;
    border-radius: 5px;
    background-color: #808080;
    opacity: 0.8;
    font-family: 'Averia Serif Libre';
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

    &.sel {
        background-color: white;
    }
}

.background {
    background-color: #f5f0da;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    .background2 {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.background-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    overflow: hidden;
    z-index: 15;

    .background-mask2 {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.header {
    @height: 75px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: @height;
    z-index: 20;

    .background {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        opacity: 0.2;
    }

    .inner {
        position: relative;
        margin: 0 100px;
        height: @height;

        .left {
            float: left;
            height: @height;
            line-height: @height;
            font-size: 0;

            img {
                vertical-align: middle;
                height: 35px;
                margin-right: 40px;
            }

            .button-wrapper {
                display: inline-block;
                overflow: auto;
            }
            .button {
                margin-right: 10px;
                vertical-align: -6px;
            }
        }

        .right {
            float: right;
            height: @height;
            line-height: @height;
            text-align: right;
            font-size: 50px;
            color: white;

            span {
                cursor: pointer;
            }
        }
    }
}

.players-page {
    margin: 140px 50px 50px 100px;
    position: relative;
    z-index: 10;
    overflow: auto;

    .top {
        margin: 0 10px 70px;

        .title {
            margin-bottom: 50px;
            font-size: 30px;
            font-weight: bold;
            color: black;
        }

        .stuff {
            @height: 35px;

            font-size: 18px;
            color: @colorLink;

            .link {
                height: @height;
                line-height: @height;

                .inner {
                    display: inline-block;
                    cursor: pointer;

                    .fa {
                        width: 30px;
                        font-size: 24px;
                    }
                }
            }
        }
    }

    .players {
        overflow: auto;
    }

    .tile {
        float: left;
        width: 415px;
        height: 423px;
        border-top: 10px solid #666;
        margin: 0 20px 40px 0;
        background-color: red;
        cursor: pointer;
        position: relative;
    }

    .tile img {
        position: absolute;
        left: 0;
        right: 0;
    }

    .tile:hover .full {
        display: inline;
    }

    .tile .content {
        margin: 20px;
        position: relative;
        z-index: 10;
    }

    .tile .content .title {
        font-size: 30px;
        font-weight: bold;
        color: white;
    }

    .tile .content .subtitle {
        font-size: 20px;
        color: white;
    }

    .tile .content .text {
        margin-top: 160px;
        font-size: 20px;
        color: #666;
    }

    .tile:hover .content .text {
        display: none;
    }

    .tile .mask {
        background: -webkit-linear-gradient(top,rgba(255,255,255,0), rgba(255,255,255,1) 60%);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
    }

    .tile:hover .mask {
        display: none;
    }
}*/
